<div class="container">
  <h2 class="text-center">Liste des évenements</h2>

  <div class="liste">

  <ul>
    <li *ngFor="let event of events">
      <p>
        évenement : {{ event.id }}
      </p>
      <p> 
        titre : {{ event.title }}
      </p>
      <p>
        <a class="btn btn-success" [routerLink]="[event.id]">Détail</a>
        <a class="btn btn-warning" [routerLink]="['/events', event.id, 'edit']">Modifier</a>        
      </p>
    </li>
  </ul>
  
  <a routerLink="/events/add">Ajouter un évenement</a>
</div>
</div>
