<div class="container">
  <h2 class="text-center">Liste des évenements</h2>
  <div class="liste">
      <a routerLink="/events/calendar">Voir le calendrier</a>
  <ul>
    <li *ngFor="let event of events">
      <h3 style='font-size: 16px'>{{ event.title }}</h3>
      <p>
        <a class="btn btn-success" [routerLink]="[event.id]">Détail</a>
        <a class="btn btn-warning" [routerLink]="['/events', event.id, 'edit']">Modifier</a>        
      </p>
    </li>
  </ul>
  
  <a routerLink="/events/add">Ajouter un évenement</a>
</div>
</div>
