<!-- By GJK -->
<div class="container">
  <h2>Détail du membre</h2>

  <div>
    <p>ID : {{ member.id }}</p>
    <p>Prénom : {{ member.firstname }}</p>
    <p>Nom : {{ member.lastname }}</p>
    <p>E-mail : {{ member.email }}</p>
    <p>Rôle : {{ member.role }}</p>
  </div>
  
  <div>
    <a class="btn btn-warning" [routerLink]="['/members', member.id, 'edit']">Modifier</a>
    <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Supprimer</button>
    <a class="btn btn-link" routerLink="/members">Retour</a>
  </div>
</div>

<app-modal [confirmFunction]="deleteMemberFunction" typeModal="delete" idModal="deleteModal"></app-modal>
