<!-- By GJK -->
<div>
  <h2>Édition du membre</h2>

  <div>
    <p><label for="firstname">Prénom : </label><input type="text" name="firstname" id="firstname" [(ngModel)]="member.firstname" value="{{ member.firstname }}" required/></p>
    <p><label for="lastname">Nom : </label><input type="text" name="lastname" id="lastname" [(ngModel)]="member.lastname" value="{{ member.lastname }}" required/></p>
    <p><label for="email">E-mail : </label><input type="email" name="email" id="email" [(ngModel)]="member.email" value="{{ member.email }}" required/></p>
  </div>
  
  <button class="btn btn-info" (click)="updateMember()">Mettre à jour</button>
  <button class="btn btn-info" (click)="deleteMember()">Supprimer</button>
  <a class="btn btn-danger" routerLink="/members">Retour</a>
</div>