<h2 class="text-center">Modifier un évenement</h2>
<form (ngSubmit)='openUpdateDialog()' action="" [formGroup]='form'>
  <div class="form-group">
    <label for="title">Intitulé de l'évènement</label>
    <input [appTrimDelay]='500' [appTrim]='form.get("title")' class="form-control" type="text" id="title" formControlName='title'>
  </div>
  <div class="form-group">
    <label for="location">Lieu et adresse</label>
    <input [appTrimDelay]='500' [appTrim]='form.get("location")' class="form-control" type="text" id="location" placeholder="Lieu et adresse" 
      formControlName='location'>
  </div>
  <div class="form-group">
    <label for="date">Date de l'évènement</label>
    <input class="form-control" type="datetime-local" id="date" placeholder="Date de l'évènement"  
      formControlName='date'>
  </div>
  <div class="form-group">
    <label for="duration">Durée (en heures pleines)</label>
    <input class="form-control" min="1" type="number" id="duration" placeholder="Durée en heures pleines" 
      formControlName='duration'>
  </div>
  <div class="form-group">
    <label for="capacity">Nombre de participants</label>
    <input class="form-control" min="0" type="number" id="capacity" placeholder="Nombre de participants" 
      formControlName="capacity">
  </div>
  <input class="btn btn-info" [disabled]='form.invalid' type="submit" value="Éditer l'évènement">
</form>

<button class="mt-4 btn btn-danger" (click)="openDeleteDialog()">Supprimer l'évènement</button>