<ng-container *ngIf='!error && (event$ | async) as event; else loading'>
  
  <h2>{{ event.title }}</h2>
  
  <div class="details">
    <p>{{ event.location }}</p>
    <p>le {{ event.date | date:'dd\/MM\/yyyy' }} à {{ event.date | date:'HH\:mm' }}.</p>
    <p>Durée : {{ event.duration }} heure{{event.duration > 1 ? "s" : ""}}</p>
    <ng-container *ngIf='event.capacity !== 0'>
      <p>Place(s) disponible(s) : {{ event.capacity - event.participants.length }} / {{ event.capacity }}</p>
    </ng-container>
  </div>
  
  <h3>Participants</h3>
  <app-event-participants 
    [max]='event.capacity' 
    [participants]='event.participants' 
    (updateParticipants)='updateParticipants($event)'>
  </app-event-participants>

  <a href="" [routerLink]='["/events", event.id, "edit"]'>Éditer l'évènement</a>

</ng-container>

<ng-template #loading>
  <p>Chargement de l'évènement. Veuillez patienter...</p>
</ng-template>

<ng-container *ngIf='error'>
  <p>{{ error }}</p>
</ng-container>