<ng-container *ngIf='!error && (event$ | async) as event; else loading'>
  
  <h2 class='mt-2'>{{ event.title }}</h2>
  
  <div class="details">
    <p>{{ event.location }}, le {{ event.date | date:'dd\/MM\/yyyy' }} à {{ event.date | date:'HH\:mm' }}.</p>
    <p>Durée : {{ event.duration }} heure{{event.duration > 1 ? "s" : ""}}
    <ng-container *ngIf='event.capacity !== 0'>
      - place(s) disponible(s) : {{ event.capacity - event.participants.length }} / {{ event.capacity }}
    </ng-container>
    </p>
  </div>
    
  <app-event-participants 
    [max]='event.capacity' 
    [participants]='event.participants' 
    (updateParticipants)='updateParticipants($event)'>
  </app-event-participants>

  <a class="btn btn-link" href="" [routerLink]='["/events", event.id, "edit"]'>Éditer l'évènement</a>
  <a class="btn btn-link" href="" routerLink='/events/calendar'>Voir le calendrier</a>

</ng-container>

<ng-template #loading>
  <p>Chargement de l'évènement. Veuillez patienter...</p>
</ng-template>

<ng-container *ngIf='error'>
  <p>{{ error }}</p>
</ng-container>