<!-- By GJK -->
<div class="container">
  <h2>Ajout d'un membre</h2>

  <div>
    <div class="form-group"><label for="firstname">Prénom : </label><input class="form-control" type="text" name="firstname" id="firstname" [(ngModel)]="firstname" required></div>
    <div class="form-group"><label for="lastname">Nom : </label><input class="form-control" type="text" name="lastname" id="lastname" [(ngModel)]="lastname" required></div>
    <div class="form-group"><label for="email">E-mail : </label><input class="form-control" type="email" name="email" id="email" [(ngModel)]="email" required></div>
  </div>
  <div class="nav">
  <div class="nav-item">
  <button class="btn btn-info" (click)="addMember()">Ajouter</button>
  </div>
  <div class="nav-item">
  <a class="nav-link" routerLink="/members">Retour</a>
  </div>
  </div>
</div>