button:not([disabled]) {
    cursor: pointer;
}

button[disabled] {
    cursor: not-allowed;
}

.bouton {
    background-color: #6DDE93;
    color : rgba(255, 255, 255, 0.938);
    border-radius: 15%;
    padding: 0.5px 15px 0.5px 15px;
}

.btn {
    margin-right: 4px;
}

.liste {
    padding : 60px 0 20px 0;
}